<form (submit)="addPlayer($event, nameInput.value)" [ng-form-model]="form" #f="form">
  <div>
    <label>
      <span>Name:</span>
      <input type="text" id="name" ng-control="firstName" autofocus>
    </label>
  </div>

  <button type="submit" [disabled]="!f.form.valid">Submit</button>
</form>

<ul>
  <li *ng-for="var player of playerService.get('players'); var $index = index"
     [router-link]="['/vote', {player: $index}]">
    <img [src]="player.avatar" width="40" height="40">
    {{ player.name }}
    <span [hidden]="!player.votedIn">
        <img [src]="player.votedIn?.avatar" width="40" height="40">
        {{ player.votedIn?.name  }}
    </span>
    <button (click)="removePlayer(player.id)">x</button>
  </li>
</ul>

<span [hidden]="hasNoPlayers()">
    <button (click)="getLoser()" [disabled]="isVotationOpen()">Get Loser!</button>
</span>

<span [hidden]="!loser">
    <img [src]="loser?.avatar" width="40" height="40">
    {{ loser?.name }}
    {{ loser?.votes }}
</span>
